<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 
      output_format
        JSON - Pretty printed JSON string
        TEXT - Plain text output (classic)
    -->
    <add key="OutputFormat" value="JSON" />
    
    <add key="MessagesPath" value="C:\FEHDownload\Data\Extracted\EUES\Message" />
    <add key="WeaponsPath"  value="C:\FEHDownload\Data\Extracted\Common\SRPG\Weapon.bin.lz" />
  </appSettings>
</configuration>