<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 
      output_format
        JSON - Pretty printed JSON string
        TEXT - Plain text output (classic)
    -->
    <add key="OutputFormat" value="TEXT" />
    
    <add key="MessagesPath" value="C:\FEHDownload\Data\Extracted.All\EUES\Message" />
  </appSettings>
</configuration>