<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 
      output_format
        JSON - Pretty printed JSON string
        TEXT - Plain text output (classic)
    -->
    <add key="OutputFormat" value="JSON" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
