<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Optimization settings -->
    <add key="Threads" value="12" />

    <!-- Local variables -->
    <add key="DataPath" value="C:\FEHDownload\Data\Extracted" />
    <add key="ZIPPath"  value="C:\FEHDownload\Data\ZIP" />

    <!-- Remote variables -->
    <add key="BaseURL"           value="https://download-cdn-fire-emblem-heroes.akamaized.net/assets" />
    <add key="AssetsToken"       value="71IE7jflXy1iAhKJhuJMHepNzCnz9ZhcaWSSMwmlBeY~" />
    <add key="Manifest"          value="manifest.json" />
    <add key="ManifestLowVolume" value="manifestLowVolume.json" />

    <!-- Language -->
    <add key="Language" value="EUES" />

    <!-- Available languages 
      EUDE
      EUEN
      EUES
      EUFR
      EUIT
      JPJA
      TWZH
      USEN
      USES
      USPT
    -->
  </appSettings>
</configuration>